@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

main h1 {
    text-align: center;
    font-family: 'Ephesis', cursive;
}

img#bolo {
    max-width: 500px;
    margin: auto;
}
